
img
{
 border:0px;
    }
table.prizetable td
{
    width: 150px;
    height: 210px;
    border: 1px dotted #C0C0C0;
}

table.prizetable td div.pic
{ 
    height: 100px;
    width: 150px;
   
    
}

table.prizetable td div.pic
{
    height: 100px;
    width: 150px;
    text-align:center;
   
    
    }
    
    
 table.prizetable td div.intro 
 {
    height: 80px;
    width: 100%
     
 }
 
  table.prizetable td div.exchangediv
 {
    height: 20px;
    width: 100%
     
 }
 
 table.prizetable td div.intro span.title
{
    font-size: 13px;
    font-weight: bold;
    font-family: 宋体, Arial, Helvetica, sans-serif;
}

 table.prizetable td div.intro span.detail_normal
 {
    font-size: 13px;
    font-family: 宋体, Arial, Helvetica, sans-serif;
     }
     
 table.prizetable td div.intro span.detail_red
 {
    font-size: 13px;
    font-family: 宋体, Arial, Helvetica, sans-serif;
    color:Red;
     }