<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Imported Rule 1">
                    <match url="view_(\d+)\.html$" ignoreCase="true" />
                    <action type="Rewrite" url="oldpages/view.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="view.aspx$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{QUERY_STRING}" pattern="^id=(.+)$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="oldpages/view.php?id={C:1}" appendQueryString="true" />
                </rule>
              
            </rules>
        </rewrite>
      
    </system.webServer>
</configuration>
